<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/get_vaccination_status" method="post">
        <input type="text" name="reg_no" id="reg_no" placeholder="register number">
        <input type="text" name="name" placeholder="name">
        <button onclick="submit">
            submit

        </button>
    </form>

    
</body>
</html>